<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <title>首页</title>
</head>

<body>
    <div class="container-fluid">
        <% include partials/header %>
    </div>
    <div class="container">
        <div class="clearfix" style="margin-bottom: 15px;">
          <a class="btn btn-info pull-right" href="write">新增</a>
    </div>
        <ul class="list-group"> 
            <% for (var i =0; i < articles.length; i++){%>
                <li class="list-group-item">
                    <a href="/blog/<%= articles[i].title %>">
                        <%= articles[i].title %> （
                            <%= articles[i].date %>）
                    </a>
                </li>
                <% } %>
        </ul>
    </div>
</body>

</html>