.btn-group {
   border: 1px solid red;
}

.pics {
    margin-top: 20px;
}
.pic {
    width: 32%;    
    height: 500px;
    float: left;
    margin-right: 10px;
    border: 2px solid #ddd;
    padding: 5px;
    margin-bottom: 10px;
}
.pic img {
    width: 100%;
    height: 100%;
}